.content
    .content-block
        ul.unclick-list
            li.contact-list-header
                h2 Contact info
            li.contact-list-body
                span First name
                span {{contact.firstName}}
            li.contact-list-body
                span Last name
                span {{contact.lastName}}
            li.contact-list-body
                span Phone number
                span +{{contact.phone}}
            li.contact-list-body
                span Created
                span {{contact.createdAt}}
    .controls
        .button-control.col-2
            .button.hover-red(ng-click='deleteContact()')
                i.fas.fa-trash-alt
                span Delete
            a.button(href='#/contact/{{contact._id}}/update')
                i.fas.fa-pen
                span Update
        .button-control.margin-right-10.width-30
            a.button(href='#/')
                i.fas.fa-chevron-left
                span Go to list